@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #fe2c55;
    --white: #fff;
    --black: #000;
    --text-color: #333;
    /* --text-color: #134460; */
}

body {
    font-family: 'IBM Plex Sans', san-serif;
    /* font-family: Roboto, serif !important; */
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

@layer base {
}

@layer utilities {
    .flexCenter {
        @apply flex items-center justify-center;
    }

    .flexBetween {
        @apply flex items-center justify-between;
    }

    .flexStart {
        @apply flex items-center justify-start;
    }

    .flexEnd {
        @apply flex items-center justify-end;
    }

    /* FONTS */
    .regular-64 {
        @apply text-[64px] font-[400] leading-[120%];
    }

    .regular-52 {
        @apply text-[52px] font-[400] leading-[120%];
    }

    .regular-48 {
        @apply text-[48px] font-[400] leading-[120%];
    }

    .regular-40 {
        @apply text-[40px] font-[400] leading-[120%];
    }

    .regular-32 {
        @apply text-[32px] font-[400];
    }

    .regular-28 {
        @apply text-[28px] font-[400];
    }

    .regular-24 {
        @apply text-[24px] font-[400];
    }

    .regular-20 {
        @apply text-[20px] font-[400];
    }

    .regular-18 {
        @apply text-[18px] font-[400];
    }

    .regular-16 {
        @apply text-[16px] font-[400];
    }

    .regular-15 {
        @apply text-[15px] font-[400];
    }
    .regular-14 {
        @apply text-[14px] font-[400];
    }

    .medium-24 {
        @apply text-[24px] font-[600];
    }
    .medium-22 {
        @apply text-[22px] font-[600];
    }
    .medium-20 {
        @apply text-[20px] font-[600];
    }
    .medium-18 {
        @apply text-[18px] font-[600];
    }

    .medium-16 {
        @apply text-[16px] font-[600];
    }

    .medium-15 {
        @apply text-[15px] font-[600];
    }
    .medium-14 {
        @apply text-[14px] font-[600];
    }

    .bold-88 {
        @apply text-[88px] font-[700] leading-[120%];
    }

    .bold-64 {
        @apply text-[64px] font-[700] leading-[120%];
    }

    .bold-52 {
        @apply text-[52px] font-[700] leading-[120%];
    }

    .bold-48 {
        @apply text-[48px] font-[700] leading-[120%];
    }

    .bold-44 {
        @apply text-[44px] font-[700] leading-[120%];
    }

    .bold-40 {
        @apply text-[40px] font-[700] leading-[120%];
    }

    .bold-36 {
        @apply text-[36px] font-[700] leading-[120%];
    }
    .bold-32 {
        @apply text-[32px] font-[700] leading-[120%];
    }

    .bold-28 {
        @apply text-[28px] font-[700] leading-[120%];
    }

    .bold-22 {
        @apply text-[22px] font-[700];
    }

    .bold-20 {
        @apply text-[20px] font-[700];
    }

    .bold-18 {
        @apply text-[18px] font-[700];
    }

    .bold-16 {
        @apply text-[16px] font-[700];
    }
    .bold-15 {
        @apply text-[15px] font-[700];
    }
}
